/* Inicio ayudas para maquetar */

/* body * {
  border: 1px solid black;
} */

section {
  border: 1px solid #777;
}

article {
  border: 1px solid #999;

}

/* Fin ayudas para maquetar */

header h1 {
  text-align: center;
}

nav {
  text-align: center;
}

#container {
  display: flex;
}

#container>* {
  padding: 1em;
}

section {
  padding: 1em;
  margin-bottom: 2em;
}

article {
  padding: .5em;
}

article:not(:last-of-type) {
  margin-bottom: 1em;
}

aside#left {
  flex: 1 1;
}

main#documentation {
  flex: 4 2;
}

main#playground {
  flex: 4 2;
}

#menu {
  position: fixed;
}

/* Inicio subindices */
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol>li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol>li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol>li {
  margin: 0;
}

li ol>li:before {
  content: counters(item, ".") " ";
}

/* Fin subindices */

@media print {

  aside#left,
  nav {
    display: none;
  }

}