*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  padding: 2rem;
}

:root {
  --navigation-links: #333;
  --navigation-links-hover: orangered;
  --color-section: #ddd;
  --color-almost-white: #f7f7f7;
}

/* Inicio ayudas para maquetar */

/* body * {
  border: 1px solid black;
} */

section {
  border: 1px solid #777;
}

article {
  border: 1px solid #999;

}

/* Fin ayudas para maquetar */

/* UTILITIES ----------------> */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.mb-small {
  margin-bottom: 1rem;
}

/* UTILITIES <---------------- */

a {
  text-decoration: none;
}

/* ANCHORS AND NAV LINKS */
a:link[href^="#"],
a:link[href^="/"],
a:visited[href^="#"],
a:visited[href^="/"] {
  color: var(--navigation-links);
}

a:hover[href^="#"],
a:hover[href^="/"],
a:active[href^="#"],
a:active[href^="/"] {
  color: var(--navigation-links-hover);
}

.header {
  padding: 1rem;
}

.header .primary-heading {
  font-size: 3rem;
  text-align: center;
}

.top-nav {
  font-size: 1.6rem;
  text-align: center;
  padding: .5rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
}

.container>* {
  padding: 1rem;
}

.left {
  flex: 0 0 30rem;
  font-size: 1.4rem;
  position: relative;
}

.menu-container {
  max-height: 80vh;
  padding: 1rem;
  position: sticky;
  top: 0;
  overflow: auto;
}

/* Inicio subindices */
ol {
  list-style-type: none;
  counter-reset: item;
}

ol>li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6rem;
}

ol>li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6rem;
}

li ol>li {
  margin: 0;
}

li ol>li:before {
  content: counters(item, ".") " ";
}

/* Fin subindices */

.documentation {
  flex: 1 1;
  font-size: 1.6rem;
}

.playground {
  flex: 1 1;
}

section {
  padding: 1.5rem;
  border-radius: 3px;
  background-color: var(--color-section);
}

section:not(:last-of-type) {
  margin-bottom: 3rem;
}

.secondary-heading {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

article {
  padding: 2rem;
  border-radius: 3px;
  background-color: var(--color-almost-white);
}

article:not(:last-of-type) {
  margin-bottom: 1rem;
}

.tertiary-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article__link {
  float: left;
  width: 15rem;
  padding: 1rem;
  margin: 0 2rem 2rem 0;
}

.article__link__img {
  width: 100%;
}

article p+p {
  margin-top: 1rem;
}

article table {
  min-width: 100%;
  border-collapse: collapse;
}

article table td,
article table th {
  border: 1px solid black;
  padding: .5rem 1rem;
  text-align: left;
}

.quaternary-heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.quaternary-heading:not(:first-child) {
  margin-top: 1.5rem;

}

.quaternary-heading:first-of-type {
  clear: both;
}

article ul {
  list-style-position: inside;
  margin: 1rem;
}

article ul li:not(:last-child) {
  margin-bottom: 1rem;
}


/* MEDIA QUERIES */

/* 1200px = 75em */
/* 900px = 56.25em */

/* Font size */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media print {

  body {
    font-family: serif;
  }

  .left,
  nav {
    display: none;
  }

}

@media screen and (max-width: 56.25em) {

  .container {
    display: block;
  }

  .menu-container {
    position: static;
  }
}